#mapmedals {
    padding: 0;
    margin: 0;
    margin-left: auto;
  	margin-right: auto;
  }

#participants{
	height: 800px;
    width: 800px;
    border: 2px solid black;
    overflow: auto;
  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
  }

#heights{
	height: 600px;
    width: 400px;
    border: 2px solid black;
    overflow: auto;
  	position: relative;
  	margin-left: auto;
  	margin-right: auto;
}
